@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(3, 5, 46);
    font-family: 'Roboto', sans-serif;
}
.form{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 5px;
}
h1{
    text-align: center;
}
input{
    padding: 10px;
    font-size: 20px;
}
p{
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
}
.btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
button{
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
}